.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.currency-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.currency-flex p {
    text-align: center;
}

.nav-btn {
    border: none;
    background: none;
}

.nav-btn:hover {
    border-bottom: solid black 1px;
}

.rate-floats {
    display: flex;
    flex-direction: column;
}